name: cloudflared

on:
  push:
    paths:
      - '.github/workflows/cloudflared.yml'
      - 'build/cloudflared/**'
      - '!build/cloudflared/*.md'

jobs:
  build:
    env:
      VERSION: $(cat build/cloudflared/.version)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        id: buildx
        uses: crazy-max/ghaction-docker-buildx@v3
        with:
          buildx-version: latest
          qemu-version: latest

      - name: Login to GitHub Docker Registry
        run: echo "${DOCKERHUB_PASSWORD}" | docker login -u "${DOCKERHUB_USERNAME}" --password-stdin
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build Container Image
        if: github.ref != 'refs/heads/master'
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64,linux/arm/v7 \
            --build-arg=VERSION=${{ env.VERSION }} \
            --tag raspbernetes/cloudflared:${{ github.sha }} \
            -f ./build/cloudflared/Dockerfile \
            ./build/cloudflared/ \
            --push

      - name: Build Container Image
        if: github.ref == 'refs/heads/master'
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64,linux/arm/v7 \
            --build-arg=VERSION=${{ env.VERSION }} \
            --tag raspbernetes/cloudflared:latest \
            --tag raspbernetes/cloudflared:${{ env.VERSION }} \
            -f ./build/cloudflared/Dockerfile \
            ./build/cloudflared/ \
            --push
