name: cluster-autoscaler

on:
  push:
    paths:
      - '.github/workflows/cluster-autoscaler.yml'
      - 'build/cluster-autoscaler/**'
      - '!build/cluster-autoscaler/*.md'

jobs:
  build:
    env:
      VERSION: $(cat build/cluster-autoscaler/.version)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        id: buildx
        uses: crazy-max/ghaction-docker-buildx@v1
        with:
          buildx-version: latest

      - name: Login to GitHub Docker Registry
        run: echo "${DOCKERHUB_PASSWORD}" | docker login -u "${DOCKERHUB_USERNAME}" --password-stdin
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build Container Image
        if: github.ref != 'refs/heads/master'
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64,linux/arm/v7 \
            --build-arg=VERSION=${{ env.VERSION }} \
            --tag raspbernetes/cluster-autoscaler:${{ github.sha }} \
            -f ./build/cluster-autoscaler/Dockerfile \
            ./build/cluster-autoscaler/ \
            --push

      - name: Build Container Image
        if: github.ref == 'refs/heads/master'
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64,linux/arm/v7 \
            --build-arg=VERSION=${{ env.VERSION }} \
            --tag raspbernetes/cluster-autoscaler:latest \
            --tag raspbernetes/cluster-autoscaler:${{ env.VERSION }} \
            -f ./build/cluster-autoscaler/Dockerfile \
            ./build/cluster-autoscaler/ \
            --push
