name: flagger

on:
  push:
    paths:
      - '.github/workflows/flagger.yml'
      - 'build/flagger/**'
      - '!build/flagger/*.md'

jobs:
  build:
    env:
      VERSION: $(cat build/flagger/.version)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        id: buildx
        uses: crazy-max/ghaction-docker-buildx@v3
        with:
          buildx-version: latest
          qemu-version: latest

      - name: Login to GitHub Docker Registry
        run: echo "${DOCKERHUB_PASSWORD}" | docker login -u "${DOCKERHUB_USERNAME}" --password-stdin
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build Container Image
        if: github.ref != 'refs/heads/master'
        run: |
          docker buildx build \
            --platform linux/arm64\
            --build-arg=VERSION=${{ env.VERSION }} \
            --tag raspbernetes/flagger:${{ github.sha }} \
            -f ./build/flagger/Dockerfile \
            ./build/flagger/ \
            --push

      - name: Build Container Image
        if: github.ref == 'refs/heads/master'
        run: |
          docker buildx build \
            --platform linux/arm64 \
            --build-arg=VERSION=${{ env.VERSION }} \
            --tag raspbernetes/flagger:latest \
            --tag raspbernetes/flagger:${{ env.VERSION }} \
            -f ./build/flagger/Dockerfile \
            ./build/flagger/ \
            --push
