name: helm-operator

on:
  push:
    paths:
      - '.github/workflows/helm-operator.yml'
      - 'build/helm-operator/**'
      - '!build/helm-operator/*.md'
  pull_request:
    paths:
      - '.github/workflows/helm-operator.yml'
      - 'build/helm-operator/**'
      - '!build/helm-operator/*.md'
    branches:
      - master

jobs:
  build:
    env:
      VERSION: $(cat build/helm-operator/.version)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Set up Docker Buildx
        id: buildx
        uses: crazy-max/ghaction-docker-buildx@v1
        with:
          version: latest

      - name: Login to GitHub Docker Registry
        run: echo "${DOCKERHUB_PASSWORD}" | docker login -u "${DOCKERHUB_USERNAME}" --password-stdin
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build Container Image
        if: github.ref != 'refs/heads/master'
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64,linux/arm/v7 \
            --build-arg=VERSION=${{ env.VERSION }} \
            --tag raspbernetes/helm-operator:${{ github.sha }} \
            -f ./build/helm-operator/Dockerfile \
            --push ./build/helm-operator/

      - name: Build Container Image
        if: github.ref == 'refs/heads/master'
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64,linux/arm/v7 \
            --build-arg=VERSION=${{ env.VERSION }} \
            --tag raspbernetes/helm-operator:latest \
            --tag raspbernetes/helm-operator:${{ env.VERSION }} \
            --tag k8sathome/helm-operator:${{ env.VERSION }} \
            -f ./build/helm-operator/Dockerfile \
            --push ./build/helm-operator/
