name: node-feature-discovery

on:
  push:
    paths:
      - '.github/workflows/node-feature-discovery.yml'
      - 'build/node-feature-discovery/**'
      - '!build/node-feature-discovery/*.md'

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      VERSION: $(cat build/node-feature-discovery/.version)
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Prepare
        id: prep
        run: |
          BASE_DIR=build/node-feature-discovery
          VERSION=$(cat ${BASE_DIR}/.version)
          echo ::set-output name=version::${VERSION}
          echo ::set-output name=base_dir::${BASE_DIR}

      - name: Checkout node-feature-discovery repo
        uses: actions/checkout@v2.3.4
        with:
          repository: kubernetes-sigs/node-feature-discovery
          path: node-feature-discovery

      - name: Set up Docker Buildx
        id: buildx
        uses: crazy-max/ghaction-docker-buildx@v3
        with:
          version: latest

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build Container Image
        if: github.ref != 'refs/heads/master'
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64,linux/arm/v7 \
            --build-arg=VERSION=${{ env.VERSION }} \
            --build-arg=NFD_VERSION=${{ env.VERSION }} \
            --build-arg=HOSTMOUNT_PREFIX=/host- \
            --tag raspbernetes/node-feature-discovery:${{ github.sha }} \
            --file ./node-feature-discovery/Dockerfile \
            ./node-feature-discovery/ \
            --output "type=image,push=true"

      - name: Build Container Image
        if: github.ref == 'refs/heads/master'
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64,linux/arm/v7 \
            --build-arg=VERSION=${{ env.VERSION }} \
            --build-arg=NFD_VERSION=${{ env.VERSION }} \
            --build-arg=HOSTMOUNT_PREFIX=/host- \
            --tag k8sathome/node-feature-discovery:latest \
            --tag raspbernetes/node-feature-discovery:${{ env.VERSION }} \
            --tag k8sathome/node-feature-discovery:${{ env.VERSION }} \
            --file ./node-feature-discovery/Dockerfile \
            ./node-feature-discovery/ \
            --output "type=image,push=true"
