name: pihole-exporter

on:
  push:
    paths:
      - '.github/workflows/pihole-exporter.yml'
      - 'build/pihole-exporter/**'
      - '!build/pihole-exporter/*.md'
  pull_request:
    paths:
      - '.github/workflows/pihole-exporter.yml'
      - 'build/pihole-exporter/**'
      - '!build/pihole-exporter/*.md'
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      VERSION: $(cat build/pihole-exporter/.version)
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Set up Docker Buildx
        id: buildx
        uses: crazy-max/ghaction-docker-buildx@v1
        with:
          version: latest

      - name: Login to GitHub Docker Registry
        run: echo "${DOCKERHUB_PASSWORD}" | docker login -u "${DOCKERHUB_USERNAME}" --password-stdin
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build Container Image
        if: github.ref != 'refs/heads/master'
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64,linux/arm/v7 \
            --tag raspbernetes/pihole-exporter:${{ github.sha }} \
            -f ./build/pihole-exporter/Dockerfile \
            --push ./build/pihole-exporter/

      - name: Build Container Image
        if: github.ref == 'refs/heads/master'
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64,linux/arm/v7 \
            --tag raspbernetes/pihole-exporter:latest \
            --tag raspbernetes/pihole-exporter:${{ env.VERSION }} \
            --tag k8sathome/pihole-exporter:${{ env.VERSION }} \
            -f ./build/pihole-exporter/Dockerfile \
            --push ./build/pihole-exporter/
